

#head{
    height: 650px;
    width: 1500px;
    border: 3px solid black;
}

#img{
    height: 600px;
    width: 800px;
    padding: 23px;
    position: relative;
    object-fit: cover;
    margin-right: 700px;
}

#login{
    height: 300px;
    width: 300px;
    
}
